<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Reviews</title>
    <!--link rel="stylesheet" href="stylesheets/review.css"!-->
</head>
<body>
    <nav>
        <a href="/">Home</a>
    </nav>
    <h1>Share Your Experience With Health Centers</h1>
    <form action="{{ url_for('review')}}" method="post">
        <label for="name">Name of Center</label>
        <input type="text" name="name"><br>
        <label for="location">Location</label>
        <input type="text" name="location"><br>
        <label for="TypeP">Choose the Type of Procedure</label>
        <select name="TypeP">
            <option value="1">medicinal</option>
            <option value="4">surgery 1</option>
            <option value="5">surgery 2</option>
            <option value="6">surgery 3</option>
            <option value="7">surgery 4</option>
            <option value="5">Mix</option>
        </select><br>
        <label for="Typec">Choose the type of condition</label>
        <select name="TypeC">
            <option value="3">Lower Body</option>
            <option value="4">Upper Body</option>
            <option value="6">Heart</option>
            <option value="5">Throat</option>
            <option value="7">Head</option>
        </select><br>
        <label for="time">Enter the time taken from diagnosis to start of treatment</label>
        <input type="number" name="time"><br>
        <label for="sideeffects">Number of Side-Effects</label>
        <input type="number" name="sideeffects"><br>
        <button type="submit">Submit Review</button>
    </form>
</body>
</html>